<h2>Ordenes</h2>

<div *ngFor="let order of ordersList | async; index as orderId">
  <h3>
    <a [routerLink]="['/products', orderId]">
      {{ order.Nombre | titlecase }}
    </a>
  </h3>
  <p *ngIf="order.Bolson>0" style="font-size:30px" font face="Segoe UI Symbol">
    &#127881; {{ order.Bolson }}
  </p>

  <i class="fas fa-band-aid">s</i>
  <i class="fas fa-shopping-bag"></i>


    <p *ngIf="order.MONTO>0" style="font-size:30px">
    {{ order.MONTO | currency}}
  </p>


</div>

<div *ngFor="let product of products; index as productId">


  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <a *ngIf="product.bolson>0" style="font-size:30px">
    &#9749; {{ product.bolson }}
  </a>
  <a *ngIf="product.miel>0" style="font-size:30px">
    &#9749; {{ product.miel }}
  </a>
  <a *ngIf="product.tinto>0" style="font-size:30px">
    &#9749; {{ product.tinto }}
  </a>
  <a *ngIf="product.blanco>0" style="font-size:30px">
    &#9749; {{ product.blanco }}
  </a>
  <a *ngIf="product.yerba>0" style="font-size:30px">
    &#9749; {{ product.yerba }}
  </a>
  <a *ngIf="product.huevos>0" style="font-size:30px">
    &#9749; {{ product.huevos }}
  </a>
  <a *ngIf="product.donacion>0" style="font-size:30px">
    &#9749; {{ product.donacion }}
  </a>
  <p *ngIf="product.total>0" style="font-size:30px">
    {{ product.total | currency}}
  </p>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>

  <button (click)="share()">
    WhatsApp
  </button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
