<h2>Ordenes</h2>

<div *ngFor="let order of ordersList | async; index as orderId">
	<h3>
		<a [routerLink]="['/order', orderId]">
			{{ order.Nombre | titlecase }}
		</a>
	</h3>

	<a *ngIf="order.Bolson>0" style="font-size:30px">
		<span class="material-icons">
      shopping_bag
      </span>
		{{ order.Bolson }}
	</a>

	<a *ngIf="order.Miel>0" style="font-size:30px">

		<span class="material-icons md-light">
    local_drink
    </span>
        {{ order.Miel }}
      </a>

	<a *ngIf="order.Tinto>0" style="font-size:30px">

		<span class="material-icons md-light md-inactive">
local_drink
</span>
		{{ order.Tinto }}
	</a>

	<a *ngIf="order.Blanco>0" style="font-size:30px">

		<span class="material-icons md-light md-inactive">
local_cafe
</span>
		{{ order.Blanco }}
	</a>
	<a *ngIf="order.Yerba>0" style="font-size:30px">

		<span class="material-icons md-light md-inactive">
local_bar
</span>
		{{ order.Yerba }}
	</a>

	<a *ngIf="order.Huevos>0" style="font-size:30px">

		<span class="material-icons md-light md-inactive">
local_bar
</span>
		{{ order.Huevos }}
	</a>

	<p *ngIf="order.Campana>0" style="font-size:15px">
		 + {{ order.Campana | currency}} donación
	</p>

	<p *ngIf="order.MONTO>0" style="font-size:30px">
		{{ order.MONTO | currency}}
	</p>

  <p>
  <button (click)="onNotify()">Completo</button>
  <button (click)="onNotify()">Parcial</button>
  <button (click)="share()">WhatsApp</button>
  </p>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->